<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    <!--navbar-->
     {{>navbar}}
    <!--main header-->
    <div class="container_fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12  mx-auto">
                <div class="row">
                    <!--right side div-->
                    <div class="col-md-6 col-12 main_header_right align-items-center ">
                        <figure>
                            <img src="images/shan.png" alt="shan">
                        </figure>
                    </div>

                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <h3 class="about_p">Welcome to <b>DailyWeather</b> app </h3>
                        <h1>I Am A  <span class="txt_clr"> Full Stack Developer</span>.</h1>
                        <a href="#"><button>About Me</button> </a>


                    </div>


                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    {{>footer}}

</body>

</html>

