<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    <!--navbar-->
     {{>navbar}}
    <!--main header-->
    <div class="container_fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12  mx-auto">
                <div class="row">
                    <!--right side div-->
                    <div class="col-md-12 col-12 main_header_left align-items-center ">
                        <figure>
                            <img src="images/error.png" alt="error">
                        </figure>
                    
                        
                        <a href="/"><button>Go Back</button> </a>


                    </div>


                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    {{>footer}}

</body>

</html>

